@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*,
*::after,
*::before,
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.main-section {
  height: 1044px;
  background: url("../images/bg_main_section.svg") center top 0px/cover, no-repeat;
  background-color: #fffbec;
}
.main-section__nav-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
}
.main-section__header {
  display: grid;
  grid-column: 1/span 1;
}
.main-section__logo {
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  color: #78350F;
}
.main-section__nav {
  display: grid;
  grid-column: 5/span 6;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.main-section__btn {
  display: grid;
  grid-column: 11/span 2;
}
.main-section__content-container {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 80px;
  padding-top: 80px;
  margin-bottom: 180px;
}

.box-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 80px;
}
.box-container__box {
  display: grid;
  gap: 16px;
}
.box-container__title {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  color: #0F172A;
}
.box-container__text {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #0F172A;
}
.box-container__img-container {
  position: relative;
}
.box-container__rectangle {
  position: absolute;
  left: 26px;
  top: -2px;
}
.box-container__rectangle-two {
  position: absolute;
  left: 478px;
  top: -2px;
}
.box-container__rectangle-three {
  position: absolute;
  right: 285px;
  top: -2px;
}

.left-wrapper {
  display: grid;
  align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 32px;
}
.left-wrapper__text {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #0F172A;
}
.left-wrapper__button_second {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.left-wrapper__video-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.left-wrapper__video-img {
  width: 24px;
}
.left-wrapper__text-demo {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #78350F;
}

.right-wrapper {
  position: relative;
  display: grid;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.right-wrapper__img {
  display: inline-block;
  position: relative;
  z-index: 2;
  width: 486px;
}
.right-wrapper__main-rectengle {
  position: absolute;
  top: 56px;
  right: 67px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 367px;
  height: 372px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: var(--amber-400, #FBBF24);
}

.buttons__main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  border: 2px solid var(--amber-900, #78350F);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #78350F;
  color: #78350F;
  background-color: #FEF3C7;
}
.buttons__main-btn_white-btn {
  border-radius: 8px;
  border: 2px solid #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  color: #0F172A;
  color: #fff;
  background: #0F172A;
  height: 64px;
}
.buttons__shoping-card {
  margin-right: 16px;
}

.nav-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-menu__item {
  padding: 12px 8px;
  margin-right: 16px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #78350F;
}
.nav-menu__link {
  color: #78350F;
}

.title {
  font-family: Roboto;
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  color: #0F172A;
}

.second-section {
  background-color: #0F172A;
  padding: 80px 0 80px 0;
}
.second-section__content {
  position: relative;
}
.second-section__bg-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 220px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
.second-section__title-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.second-section__title_text {
  font-size: 56px;
  color: #fff;
  display: grid;
  grid-column: 1/span 3;
}
.second-section__btn {
  display: grid;
  grid-column: 6/span 1;
}
.second-section__content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
  padding: 80px 0;
}
.second-section__content-box {
  position: relative;
  border-radius: 10px;
  border: 1px solid #0F172A;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07), 0px 25px 50px -12px rgba(255, 255, 255, 0.25);
          box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07), 0px 25px 50px -12px rgba(255, 255, 255, 0.25);
  z-index: 1;
}
.second-section__text-box {
  padding: 32px;
  background: #0F172A;
}
.second-section__title-text {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  color: #fff;
  margin-bottom: 16px;
}
.second-section__text {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #0F172A;
  color: #fff;
  margin-bottom: 32px;
}
.second-section__img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.second-section__rectangle-one {
  position: absolute;
  bottom: 100px;
  left: -40px;
  width: 271px;
  height: 271px;
  border-radius: 50px;
  opacity: 0.75;
  background: #BE185D;
  z-index: 0;
}
.second-section__rectangle-two {
  position: absolute;
  top: 112px;
  left: 419px;
  width: 161px;
  height: 161px;
  border-radius: 50px;
  opacity: 0.75;
  background: #0369A1;
}
.second-section__rectangle-three {
  position: absolute;
  bottom: 129px;
  right: 411px;
  width: 130px;
  height: 130px;
  border-radius: 30px;
  opacity: 0.75;
  background: #B45309;
}
.second-section__rectangle-four {
  position: absolute;
  bottom: 54px;
  right: 92px;
  width: 202px;
  height: 202px;
  border-radius: 30px;
  opacity: 0.75;
  background: #A21CAF;
}
.second-section__rectangle-five {
  position: absolute;
  bottom: 298px;
  right: -43px;
  width: 232px;
  height: 232px;
  border-radius: 50px;
  opacity: 0.75;
  background: #15803D;
}

.third-section {
  padding: 160px 0;
}
.third-section__content-container {
  position: relative;
  z-index: -5;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 80px;
  padding: 80px;
  border-radius: 30px;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07), 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07), 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
}
.third-section__left-wrapper {
  display: grid;
  grid-column: 1/3 span;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.third-section__title-text {
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
}
.third-section__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.third-section__paragraph-text {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #0F172A;
  font-size: 20px;
}
.third-section_buttons-color {
  background: #fff;
}
.third-section__right-wrapper {
  display: grid;
  grid-column: 4/span 3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.third-section__window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  border-radius: 20px;
  border: 5px solid #FFF;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07), 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07), 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.third-section__window-uppanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 41px;
  padding: 8px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.third-section__img {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.third-section__rectangle-one {
  position: absolute;
  top: 152px;
  right: 13px;
  z-index: -4;
  width: 666.284px;
  height: 217.934px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #FDE68A;
}
.third-section__rectangle-two {
  position: absolute;
  z-index: -4;
  top: -13px;
  right: 90px;
  width: 59px;
  height: 60px;
  border-radius: 50px;
  opacity: 0.75;
  background: #0369A1;
}
.third-section__rectangle-three {
  position: absolute;
  z-index: 0;
  bottom: 42px;
  right: 450px;
  width: 85px;
  height: 86px;
  border-radius: 50px;
  opacity: 0.75;
  background: #15803D;
}
.third-section__rectangle-four {
  position: absolute;
  z-index: -3;
  bottom: 35px;
  right: 133px;
  width: 74px;
  height: 74px;
  border-radius: 30px;
  opacity: 0.75;
  background: #A21CAF;
}
.third-section__rectangle-five {
  position: absolute;
  z-index: -4;
  bottom: -40px;
  right: -48px;
  width: 218px;
  height: 218px;
  border-radius: 50px;
  opacity: 0.75;
  background: #BE185D;
}/*# sourceMappingURL=main.css.map */