@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*,
*::after,
*::before,
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.main-section {
  height: 1044px;
  background: url("../images/bg_main_section.svg") center top 0px/cover, no-repeat;
  background-color: #fffbec;
}
.main-section__nav-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
}
.main-section__header {
  display: grid;
  grid-column: 1/span 1;
}
.main-section__logo {
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  color: #78350F;
}
.main-section__nav {
  display: grid;
  grid-column: 5/span 6;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.main-section__btn {
  display: grid;
  grid-column: 11/span 2;
}
.main-section__content-container {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 80px;
  padding-top: 80px;
  margin-bottom: 180px;
}

.box-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 80px;
}
.box-container__box {
  display: grid;
  gap: 16px;
}
.box-container__title {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  color: #0F172A;
}
.box-container__text {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #0F172A;
}
.box-container__img-container {
  position: relative;
}
.box-container__rectangle {
  position: absolute;
  left: 26px;
  top: -2px;
}
.box-container__rectangle-two {
  position: absolute;
  left: 478px;
  top: -2px;
}
.box-container__rectangle-three {
  position: absolute;
  right: 285px;
  top: -2px;
}

.left-wrapper {
  display: grid;
  align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 32px;
}
.left-wrapper__text {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #0F172A;
}
.left-wrapper__button_second {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.left-wrapper__video-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.left-wrapper__video-img {
  width: 24px;
}
.left-wrapper__text-demo {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #78350F;
}

.right-wrapper {
  position: relative;
  display: grid;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.right-wrapper__img {
  display: inline-block;
  position: relative;
  z-index: 2;
  width: 486px;
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
}
.right-wrapper__img:hover {
  -webkit-transform: rotate(30deg) scale(1.1);
          transform: rotate(30deg) scale(1.1);
}
.right-wrapper__main-rectengle {
  position: absolute;
  top: 56px;
  right: 67px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 367px;
  height: 372px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: var(--amber-400, #FBBF24);
}

.buttons__main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  border: 2px solid var(--amber-900, #78350F);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #78350F;
  color: #78350F;
  background-color: #FEF3C7;
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}
.buttons__main-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.buttons__main-btn_white-btn {
  border-radius: 8px;
  border: 2px solid #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  color: #0F172A;
  color: #fff;
  background: #0F172A;
  height: 64px;
}
.buttons__main-btn_white-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.buttons__shoping-card {
  margin-right: 16px;
}

.nav-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-menu__item {
  padding: 12px 8px;
  margin-right: 16px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #78350F;
}
.nav-menu__link {
  color: #78350F;
}

.title {
  font-family: Roboto;
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  color: #0F172A;
}

.second-section {
  background-color: #0F172A;
  padding: 80px 0 80px 0;
}
.second-section__content {
  position: relative;
}
.second-section__bg-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 220px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
.second-section__title-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.second-section__title_text {
  font-size: 56px;
  color: #fff;
  display: grid;
  grid-column: 1/span 3;
}
.second-section__btn {
  display: grid;
  grid-column: 6/span 1;
}
.second-section__content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
  padding: 80px 0;
}
.second-section__content-box {
  position: relative;
  border-radius: 10px;
  border: 1px solid #0F172A;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07), 0px 25px 50px -12px rgba(255, 255, 255, 0.25);
          box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07), 0px 25px 50px -12px rgba(255, 255, 255, 0.25);
  z-index: 1;
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}
.second-section__content-box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.second-section__text-box {
  padding: 32px;
  background: #0F172A;
}
.second-section__title-text {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  color: #fff;
  margin-bottom: 16px;
}
.second-section__text {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #0F172A;
  color: #fff;
  margin-bottom: 32px;
}
.second-section__img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.second-section__rectangle-one {
  position: absolute;
  bottom: 100px;
  left: -40px;
  width: 271px;
  height: 271px;
  border-radius: 50px;
  opacity: 0.75;
  background: #BE185D;
  z-index: 0;
}
.second-section__rectangle-two {
  position: absolute;
  top: 112px;
  left: 419px;
  width: 161px;
  height: 161px;
  border-radius: 50px;
  opacity: 0.75;
  background: #0369A1;
}
.second-section__rectangle-three {
  position: absolute;
  bottom: 129px;
  right: 411px;
  width: 130px;
  height: 130px;
  border-radius: 30px;
  opacity: 0.75;
  background: #B45309;
}
.second-section__rectangle-four {
  position: absolute;
  bottom: 54px;
  right: 92px;
  width: 202px;
  height: 202px;
  border-radius: 30px;
  opacity: 0.75;
  background: #A21CAF;
}
.second-section__rectangle-five {
  position: absolute;
  bottom: 298px;
  right: -43px;
  width: 232px;
  height: 232px;
  border-radius: 50px;
  opacity: 0.75;
  background: #15803D;
}

.third-section {
  padding: 160px 0;
}
.third-section__content-container {
  position: relative;
  z-index: -5;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 80px;
  padding: 80px;
  border-radius: 30px;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07), 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07), 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
}
.third-section__left-wrapper {
  display: grid;
  grid-column: 1/3 span;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.third-section__title-text {
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
}
.third-section__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.third-section__paragraph-text {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #0F172A;
  font-size: 20px;
}
.third-section_buttons-color {
  background: #fff;
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}
.third-section_buttons-color:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.third-section__right-wrapper {
  display: grid;
  grid-column: 4/span 3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.third-section__window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  border-radius: 20px;
  border: 5px solid #FFF;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07), 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07), 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.third-section__window-uppanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 41px;
  padding: 8px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.third-section__img {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.third-section__rectangle-one {
  position: absolute;
  top: 152px;
  right: 13px;
  z-index: -4;
  width: 666.284px;
  height: 217.934px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #FDE68A;
}
.third-section__rectangle-two {
  position: absolute;
  z-index: -4;
  top: -13px;
  right: 90px;
  width: 59px;
  height: 60px;
  border-radius: 50px;
  opacity: 0.75;
  background: #0369A1;
}
.third-section__rectangle-three {
  position: absolute;
  z-index: 0;
  bottom: 42px;
  right: 450px;
  width: 85px;
  height: 86px;
  border-radius: 50px;
  opacity: 0.75;
  background: #15803D;
}
.third-section__rectangle-four {
  position: absolute;
  z-index: -3;
  bottom: 35px;
  right: 133px;
  width: 74px;
  height: 74px;
  border-radius: 30px;
  opacity: 0.75;
  background: #A21CAF;
}
.third-section__rectangle-five {
  position: absolute;
  z-index: -4;
  bottom: -40px;
  right: -48px;
  width: 218px;
  height: 218px;
  border-radius: 50px;
  opacity: 0.75;
  background: #BE185D;
}

.fourth-section {
  min-height: 816px;
  background-color: #fffbec;
  padding: 160px 80px;
}
.fourth-section .fourth_wrapper {
  height: 496px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding: 80px;
  border-radius: 30px;
  background: var(--White, #FFF);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07), 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07), 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
}
.fourth-section .fourth_wrapper_left {
  grid-column: 1/span 5;
}
.fourth-section .fourth_wrapper_left .title {
  color: #0F172A;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  margin-top: 31px;
}
.fourth-section .fourth_wrapper_left .wrapper_block_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-top: 24px;
}
.fourth-section .fourth_wrapper_left .wrapper_block_top .text {
  color: #0F172A;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  font-size: 20px;
}
.fourth-section .fourth_wrapper_left .wrapper_block_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-top: 8px;
}
.fourth-section .fourth_wrapper_left .wrapper_block_center .text {
  color: #0F172A;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  font-size: 20px;
}
.fourth-section .fourth_wrapper_left .wrapper_block_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-top: 8px;
}
.fourth-section .fourth_wrapper_left .wrapper_block_bottom .text {
  color: #0F172A;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  font-size: 20px;
}
.fourth-section .fourth_wrapper_left .button {
  margin-top: 24px;
}
.fourth-section .fourth_wrapper_left .button_btn {
  padding: 16px 32px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #78350F;
  font-size: 20px;
  color: #78350F;
  background-color: #FEF3C7;
  border-radius: 8px;
  border: 2px solid var(--amber-900, #78350F);
  cursor: pointer;
}
.fourth-section .fourth_wrapper_right {
  position: relative;
  grid-column: 6/span 5;
}
.fourth-section .fourth_wrapper_right .wrapper_img {
  position: absolute;
  top: -145px;
  right: -120px;
}

.fifth-section {
  height: 996px;
  background-color: #fffbec;
  padding: 80px 80px 128px 80px;
  background: url("../images/fifth_bg_main.png") center top 0px/cover, no-repeat;
}
.fifth-section .title {
  color: #0F172A;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
}
.fifth-section .subtitle {
  color: #0F172A;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  margin-top: 32px;
}
.fifth-section .fifth_wrapper {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.fifth-section .fifth_wrapper__text {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  color: #0F172A;
}
.fifth-section .fifth_wrapper_left {
  grid-column: 1/span 3;
}
.fifth-section .fifth_wrapper_left .menu {
  display: grid;
  grid-row-gap: 16px;
}
.fifth-section .fifth_wrapper_left .menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  gap: 16px;
}
.fifth-section .fifth_wrapper_left .menu li a {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}
.fifth-section .fifth_wrapper_left .menu li:hover {
  width: 260px;
  height: 56px;
  border-radius: 8px;
  background: var(--White, #FFF);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.07), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.07), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  background: url(../icons/arrow-right.svg) right no-repeat;
}
.fifth-section .fifth_wrapper_right {
  position: relative;
  grid-column: 4/span 7;
}
.fifth-section .fifth_wrapper_right .picture {
  position: absolute;
}
.fifth-section .fifth_wrapper_right .picture:active {
  z-index: 1;
}
.fifth-section .fifth_wrapper_right .picturetwo {
  position: absolute;
  top: 105px;
  left: 94px;
}
.fifth-section .fifth_wrapper_right .picturetwo:active {
  z-index: 2;
}
.fifth-section .fifth_wrapper_right .picturethree {
  position: absolute;
  top: 202px;
  left: 688px;
}

.sixth-section {
  height: 750px;
  padding: 80px;
  background-color: var(--amber-900, #78350F);
}
.sixth-section .main_wrapper {
  width: 1049px;
  min-height: 633px;
  margin: 0 auto;
  background: url("../images/chart.png") center top 5px/cover no-repeat;
  position: relative;
}
.sixth-section .main_wrapper .main_title {
  padding-top: 228px;
  color: var(--amber-50, #FFFBEB);
  text-align: center;
  font-family: Roboto;
  font-size: 96px;
  font-weight: 800;
  line-height: 110%;
}
.sixth-section .main_wrapper .title {
  margin-top: 8px;
  color: var(--Amber-50, #FFFBEB);
  font-family: Roboto;
  font-size: 56px;
  font-weight: 800;
  line-height: 110%;
  text-align: center;
}
.sixth-section .main_wrapper .map .elipse_1 {
  position: absolute;
  left: 135px;
  top: 236px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 3px solid #A3E635;
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}
.sixth-section .main_wrapper .map .elipse_1 .pic {
  position: absolute;
  left: -150px;
  top: -265px;
  opacity: 0;
}
.sixth-section .main_wrapper .map .elipse_1 .pic:hover {
  opacity: 1;
  background: url("../images/sixth_sneakers.png") center bottom 0px no-repeat;
}
.sixth-section .main_wrapper .map .elipse_1:hover {
  background-color: #D9F99D;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.sixth-section .main_wrapper .map .elipse_2 {
  position: absolute;
  left: 210px;
  top: 298px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 3px solid #A3E635;
}
.sixth-section .main_wrapper .map .elipse_3 {
  position: absolute;
  left: 328px;
  top: 168px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 3px solid #A3E635;
}
.sixth-section .main_wrapper .map .elipse_4 {
  position: absolute;
  left: 413px;
  top: 67px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 3px solid #A3E635;
}
.sixth-section .main_wrapper .map .elipse_5 {
  position: absolute;
  left: 371px;
  bottom: 149px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 3px solid #A3E635;
}
.sixth-section .main_wrapper .map .elipse_6 {
  position: absolute;
  left: 324px;
  bottom: 111px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 3px solid #A3E635;
}
.sixth-section .main_wrapper .map .elipse_7 {
  position: absolute;
  right: 440px;
  bottom: 176px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 3px solid #A3E635;
}
.sixth-section .main_wrapper .map .elipse_8 {
  position: absolute;
  right: 240px;
  bottom: 270px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 3px solid #A3E635;
}
.sixth-section .main_wrapper .map .elipse_9 {
  position: absolute;
  right: 147px;
  bottom: 288px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 3px solid #A3E635;
}
.sixth-section .main_wrapper .map .elipse_10 {
  position: absolute;
  right: 115px;
  bottom: 121px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 3px solid #A3E635;
}

.seventh-section {
  min-height: 763px;
  padding: 80px;
  background: url("../images/seventh-section_bg.png") right bottom -500px/cover no-repeat;
}
.seventh-section .top-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 12px;
}
.seventh-section .top-wrapper__title {
  color: #0F172A;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  grid-column: 1/span 9;
}
.seventh-section .top-wrapper__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px;
  grid-column: 11/span 2;
  cursor: pointer;
}
.seventh-section .center-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  margin-top: 80px;
}
.seventh-section .center-wrapper .main-cards {
  border: 1px solid var(--Blue-Gray-200, #E2E8F0);
  background: var(--White, #FFF);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.07), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.07), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  width: 302px;
  height: 461px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}
.seventh-section .center-wrapper .main-cards:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.seventh-section .center-wrapper .main-cards__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.seventh-section .center-wrapper .main-cards__img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.seventh-section .center-wrapper .box {
  padding: 32px 32px 0px 32px;
}
.seventh-section .center-wrapper .box__title {
  color: #0F172A;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 110%;
}
.seventh-section .center-wrapper .box__subtitle {
  margin-top: 16px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #0F172A;
  margin-bottom: 16px;
}
.seventh-section .buttons__card-btn {
  width: 159px;
  height: 48px;
  border: none;
  background: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #78350F;
  cursor: pointer;
}

.reviews-section {
  position: relative;
  max-height: 732px;
  padding: 80px 0 80px 0;
}
.reviews-section__content-container {
  position: relative;
}
.reviews-section__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews-section__title-text {
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
}
.reviews-section__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews-section__img-arrow {
  width: 24px;
  height: 24px;
}
.reviews-section__nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100px;
  border: 2px solid var(--Amber-900, #78350F);
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.07), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.07), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}
.reviews-section__nav-bar:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.reviews-section__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}
.reviews-section__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 384px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 20px;
  gap: 16px;
  padding: 32px;
  border: 1px solid var(--Blue-Gray-200, #E2E8F0);
  background: var(--White, #FFF);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.07), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.07), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}
.reviews-section__card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.reviews-section__card-bg {
  width: 1360px;
  height: 421px;
  position: absolute;
  left: -41px;
  top: 95px;
  z-index: -1;
  background: var(--Amber-200, #FDE68A);
}
.reviews-section__text {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  font-weight: 400;
  line-height: 160%;
}
.reviews-section__card-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.reviews-section__user-name {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #0F172A;
}
.reviews-section__user-prof {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #78350F;
}

.section-product {
  position: relative;
  background: url("../images/Vector 13.svg") right bottom -305px/cover no-repeat;
  background-color: #FEF3C7;
  padding: 80px 0;
  z-index: 1;
}
.section-product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}
.section-product__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-product__title-text {
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
}
.section-product__navbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  padding: 12px 8px 12px 0;
}
.section-product__navbox-text {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #78350F;
}
.section-product__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
.section-product__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  padding: 24px 16px 16px 16px;
  border-radius: 10px;
  border: 1px solid var(--Blue-Gray-200, #E2E8F0);
  background: var(--White, #FFF);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.07), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.07), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}
.section-product__card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.section-product__card-title {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #78350F;
  color: black;
}
.section-product__card-text {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}
.section-product__rectangleOne {
  position: absolute;
  bottom: -52px;
  right: 258px;
  width: 164px;
  height: 164px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 30px;
  opacity: 0.75;
  background: var(--Fuchsia-700, #A21CAF);
}
.section-product__rectangleTwo {
  position: absolute;
  bottom: -121px;
  right: 152px;
  z-index: -1;
  width: 185px;
  height: 185px;
  border-radius: 50px;
  opacity: 0.75;
  background: var(--Pink-700, #BE185D);
}
.section-product__rectangleThree {
  position: absolute;
  bottom: -178px;
  right: 178px;
  z-index: -2;
  width: 111px;
  height: 111px;
  border-radius: 50px;
  opacity: 0.75;
  background: var(--Blue-Light-700, #0369A1);
}

.section-footer {
  background-color: #0F172A;
}
.section-footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
}
.section-footer__title-text {
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  color: #fff;
}
.section-footer__line {
  border-top: 1px solid var(--Blue-Gray-700, #334155);
  border-bottom: 1px solid var(--Blue-Gray-700, #334155);
}
.section-footer__nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 48px;
  padding: 48px 0;
}
.section-footer__nav-item {
  padding: 12px 0;
}
.section-footer__nav-title {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #78350F;
  color: #fff;
}
.section-footer__nav-link {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #78350F;
  color: #fff;
  font-weight: 400;
}
.section-footer__end-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
}
.section-footer__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-footer__world {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.section-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section-footer__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-top: 8px;
}
.section-footer__img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  margin-bottom: 44px;
}

.footer-link {
  margin-right: 32px;
}/*# sourceMappingURL=main.css.map */