.main-section
    height: 1044px
    background: url('../images/bg_main_section.svg') center top 0px/ cover, no-repeat
    background-color: #fffbec
    &__nav-container
        display: grid
        grid-template-columns: repeat(12, 1fr)
        justify-content: space-between
        align-items: center
        padding: 24px 0

    &__header
        display: grid
        grid-column: 1/span 1

    &__logo
        font-family: Roboto
        font-size: 32px
        font-style: normal
        font-weight: 700
        line-height: 110%
        color: $color-brown

    &__nav
        display: grid
        grid-column: 5/span 6
        justify-content: right

    &__btn
        display: grid
        grid-column: 11/span 2

    &__content-container
        position: relative
        display: grid
        grid-template-columns: 2fr 1fr
        gap: 80px
        padding-top: 80px
        margin-bottom: 180px

.box-container
    position: relative
    display: grid
    grid-template-columns: repeat(3, 1fr)
    justify-content: space-between
    gap: 80px
    &__box
        display: grid
        gap: 16px
    &__title
        +text-title
    &__text
        +text-p
    &__img-container
        position: relative
    &__rectangle
        position: absolute
        left: 26px
        top: -2px
    &__rectangle-two
        position: absolute
        left: 478px
        top: -2px
    &__rectangle-three
        position: absolute
        right: 285px
        top: -2px

.left-wrapper
    display: grid
    align-self: center
    align-content: center
    gap: 32px
    &__text
        +text-p
    &__button_second
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 16px
    &__video-play
        display: flex
        align-items: center
        gap: 8px
    &__video-img
        width: 24px
    &__text-demo
        +text-regular

.right-wrapper
    position: relative
    display: grid
    justify-content: right
    align-items: center
    &__img
        display: inline-block
        position: relative
        z-index: 2
        width: 486px

    &__main-rectengle
        position: absolute
        top: 56px
        right: 67px
        z-index: 1
        display: flex
        width: 367px
        height: 372px
        justify-content: center
        align-items: center
        gap: 10px
        border-radius: 50px
        background: var(--amber-400, #FBBF24)

.buttons
    &__main-btn
        display: flex
        padding: 12px
        justify-content: center
        align-items: center
        border-radius: 8px
        border: 2px solid var(--amber-900, #78350F)
        +text-regular
        color: $color-brown
        background-color: #FEF3C7
    &__main-btn_white-btn
        border-radius: 8px
        border: 2px solid #FFF
        +text-title
        color: #fff
        background: #0F172A
        height: 64px
    &__shoping-card
        margin-right: 16px

.nav-menu
    &__list
        display: flex
    &__item
        padding: 12px 8px
        margin-right: 16px
        +text-regular
    &__link
        color: $color-brown

.title
    font-family: Roboto
    font-size: 72px
    font-style: normal
    font-weight: 800
    line-height: 110%
    color: $blue-gray-900
