*,
*::after,
*::before,
html
    margin: 0
    padding: 0
    box-sizing: border-box
    text-decoration: none
    list-style: none

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap')

$color-brown: #78350F
=text-regular
    font-family: Roboto
    font-size: 16px
    font-style: normal
    font-weight: 500
    line-height: 24px
    letter-spacing: 0.5px
    color: $color-brown

.container
    max-width: 1140px
    margin: 0 auto

@import './_main-section'
@import './_second-section'
