*,
*::after,
*::before,
html
    margin: 0
    padding: 0
    box-sizing: border-box
    text-decoration: none
    list-style: none

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap')

$color-brown: #78350F
$blue-gray-900: #0F172A
=text-regular
    font-family: Roboto
    font-size: 16px
    font-style: normal
    font-weight: 500
    line-height: 24px
    letter-spacing: 0.5px
    color: $color-brown
=text-p
    font-family: Roboto
    font-size: 18px
    font-style: normal
    font-weight: 400
    line-height: 160%
    color: $blue-gray-900
=text-title
    font-family: Roboto
    font-size: 20px
    font-style: normal
    font-weight: 500
    line-height: 110%
    color: $blue-gray-900
=main-title
    font-family: Roboto
    font-size: 56px
    font-style: normal
    font-weight: 800
    line-height: 110%
=title
    font-family: Roboto
    font-size: 24px
    font-style: normal
    font-weight: 700
    line-height: 110%
=subtitle
    color: $blue-gray-900
    font-family: Roboto
    font-size: 18px
    font-weight: 400

=label
    color: $blue-gray-900
    font-family: Roboto
    font-size: 56px
    font-style: normal
    font-weight: 800
    line-height: 110%
=card-title
    color: $blue-gray-900
    font-family: Roboto
    font-size: 24px
    font-weight: 700
    line-height: 110%

.container
    max-width: 1280px
    margin: 0 auto

@import './_main-section'
@import './_second-section'
@import './_third-section'
@import './_fourth-section'
@import './_fifth-section'
@import './_sixth-section'
@import './_seventh-section'
@import './_reviews-section'
